<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <!--Etiqueta que contiene información sobre objetos remotos y los canales de comunicacion para remoting.-->
    <system.runtime.remoting>
           <!--Información sobre los objetos remotos que la aplicación consume y expone..-->
           <application>
                    <!--Objetos que se expondran en la aplicacion. -->
                    <service>
                                     <!--Etiqueta WELLKNOW: Descripcion de los objetos Conocidos y Activados en el servidor y que 
                                     la aplicación expone
                                           Atributo TYPE: Determina nombre del ensamblado donde se aloja el objeto remoto-->
                                    <wellknown mode="Singleton"
				                                       type="Persistencia.FabricaPersistencia, Persistencia"
				                                       objectUri="FabricaPersistencia.remota"/>
                    </service>
                    <!--Determina los canales que la aplicación usara para comunicar objetos remotos-->
                    <channels>
                              <channel ref="tcp" port="8989"/>
                    </channels>
           </application>
     </system.runtime.remoting>
</configuration>