<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestionBancariaWindows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GestionBancariaWindows.Properties.Settings>
            <setting name="GestionBancariaWindows_GestionBancariaWS_ServiceGestionBancaria"
                serializeAs="String">
                <value>http://localhost:43285/GestionBancariaWS/ServiceGestionBancaria.asmx</value>
            </setting>
        </GestionBancariaWindows.Properties.Settings>
    </applicationSettings>
</configuration>